/* global */

* {
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100% !important;
  margin: 0 !important;
}

.peso::before {
  content: "₱ " !important;
}

.percent::before {
  content: "% " !important;
}

.custom-nav-link:hover {
  color: #2f2cd4 !important;
}

.custom-modal-width .modal-dialog {
  max-width: 1500px !important; /* Adjust this value as needed */
  width: 95% !important; /* Ensures the modal uses full width up to the max-width */
}

.custom-modal-width .modal-content {
  padding: 20px !important; /* Optional: Adjust padding for better content spacing */
}

.custom-form-height {
  height: 50px !important;
}

.default-bg {
  background: #eceff2 !important;
}

.custom-container {
  border-radius: 0.5rem !important;
  padding: 1rem;
  max-width: 100vw !important;
  /* overflow-x: scroll !important; */
}

.scrollable-contents::-webkit-scrollbar {
  width: 3px !important;
  height: 20px !important;
}

.scrollable-contents::-webkit-scrollbar-thumb {
  background-color: #cecece !important;
}

.main-scrollable-contents::-webkit-scrollbar {
  width: 7px !important;
  height: 20px !important;
}

.main-scrollable-contents::-webkit-scrollbar-thumb {
  background-color: #cecece !important;
}

.filter-btn-container button:nth-child(1) {
  margin-right: 0.7rem;
  background: #2a3042;
  color: #fff;
  transition: 0.5s all;
}
.filter-btn-container button:nth-child(1):hover {
  background: #3e4d6a;
}

.password-containers i {
  right: 0.5rem !important;
  top: 2.5rem !important;
  font-size: 1.3rem !important;
  cursor: pointer;
}

.import-export-btn button:hover {
  color: #fff !important;
}

.title-button {
  padding: 0.6rem 1.4rem !important;
}

.custom-input-form {
  padding: 0 !important;
  max-width: 100px !important;
}
.custom-input-form::placeholder {
  color: #dc4b63; /* or use #dc3545 for Bootstrap's danger color */
}

.custom-font {
  font-weight: 700 !important;
}

.custom-input-form-readOnly {
  pointer-events: none;
  color: #0a9cbc;
  font-weight: 500;
}

.btn-primary {
  background: #4b49ac !important;
  border: 1px solid #4b49ac !important;
}

.btn-primary:hover {
  background: #403e92 !important;
  border: 1px solid #403e92 !important;
}

.btn-outline-primary {
  border: #4b49ac !important;
  border: 1px solid #4b49ac !important;
  color: #4b49ac !important;
}

.btn-outline-primary:hover {
  background: #403e92 !important;
  border: 1px solid #403e92 !important;
  color: #fff !important;
}

.dataTable {
  border-radius: 0.5rem !important;
}

.custom-datatable {
  padding: 10px !important;
}

.custom-datatable tbody tr {
  border-bottom: 1px solid #b1b6bc !important;
}

.custom-datatable thead th:nth-child(1) {
  width: 30% !important;
}

.custom-datatable tbody tr td:nth-child(1) {
  width: 30% !important;
  height: 60px !important;
}

.custom-datatable thead th:nth-child(2) {
  width: 23% !important;
}

.custom-datatable tbody tr td:nth-child(2) {
  width: 23% !important;
}

.custom-datatable thead th:nth-child(3) {
  width: 23% !important;
}

.custom-datatable tbody tr td:nth-child(3) {
  width: 23% !important;
}

.custom-datatable thead th:nth-child(4) {
  width: 23% !important;
}

.custom-datatable tbody tr td:nth-child(4) {
  width: 23% !important;
}

.custom-datatable2 {
  padding: 10px !important;
}

.custom-datatable2 tbody tr {
  border-bottom: 1px solid #b1b6bc !important;
}

.custom-datatable2 thead th:nth-child(1) {
  width: 20% !important;
}

.custom-datatable2 tbody tr td:nth-child(1) {
  width: 20% !important;
  height: 60px !important;
  align-items: center !important;
}

.custom-datatable2 thead th:nth-child(2) {
  width: 30% !important;
}

.custom-datatable2 tbody tr td:nth-child(2) {
  width: 30% !important;
  padding: 10px !important;
}

.custom-datatable2 thead th:nth-child(3) {
  width: 16% !important;
}

.custom-datatable2 tbody tr td:nth-child(3) {
  width: 16% !important;
}

.custom-datatable2 thead th:nth-child(4) {
  width: 16% !important;
}

.custom-datatable2 tbody tr td:nth-child(4) {
  width: 16% !important;
}

.custom-datatable2 thead th:nth-child(5) {
  width: 16% !important;
}

.custom-datatable2 tbody tr td:nth-child(5) {
  width: 16% !important;
}

.bg-light-custom {
  background: #cecece !important;
}

.thead-custom {
  height: 50px !important;
  padding: 10px !important;
}

.select-converter {
  max-width: 15rem !important;
}

.text-custom-primary {
  color: #4b49ac !important;
}

/* Add these styles to your CSS file */

.custom-btn-danger:hover {
  background-color: #dc3545 !important; /* Bootstrap danger color */
  color: white !important;
}

.custom-btn-primary:hover {
  background-color: #007bff !important; /* Bootstrap primary color */
  color: white !important;
}

.custom-btn-danger:hover .fa-times {
  color: white !important;
}

.custom-btn-primary:hover .fa-check {
  color: white !important;
}

.new-item-custom {
  max-height: 30rem !important;
  overflow-y: scroll !important;
}

/* global end */
/* Login */
.custom-login-form {
  border: 1px solid #cecece;
  /* box-shadow: 1px 2.1px 2.1px hsl(0deg 0% 0% / 0.47); */
  border-radius: 1rem;
}

.login-container {
  overflow: hidden;
  height: 100vh;
}

.login-form {
  height: 100vh;
  width: 100vw;
}

.company-logo img {
  max-width: 200px;
  max-height: 200px;
}

.login-text h1 {
  font-size: 5rem;
}

.login-text span {
  font-size: 2rem;
}

.password-container i {
  right: 1rem !important;
  top: 3.8rem !important;
  font-size: 1.7rem !important;
  cursor: pointer;
}

.forgot-password {
  transition: all 0.4s ease;
}

.remember-me {
  margin-top: 0.5rem !important;
}

.access-form {
  margin-top: -2.5rem !important;
}

.login-btn button {
  padding: 1.7rem;
}

/* Login end */

/* sidebar  */
.sidebar {
  width: 300px !important;
  height: 140vh !important;
  max-height: 140vh !important;
  transition: all 0.3s ease !important;
  z-index: 2;
  overflow-y: scroll !important;
}

.sidebar.closed {
  width: 0 !important; /* Closed state width */
}

.sidebar-toggle {
  display: none !important; /* Initially hide toggle button */
  position: absolute !important;
  top: 20px !important;
  right: -30px !important;
  background-color: #ffffff !important;
  border: 1px solid #ccc !important;
  padding: 5px !important;
  cursor: pointer !important;
}

.sidebar-toggle i {
  font-size: 18px !important;
  color: #555 !important;
}

.sidebar .nav-link {
  color: #333;
  font-weight: 500;
  width: 100%;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  transition: all 0.5s;
}

.sidebar .nav-link .nav-link-sm {
  font-size: 0.9rem;
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover {
  background-color: #e9ecef;
  /* color: #007bff; */
  /* font-size: 1.01rem; */
  border-radius: 0.5rem !important;
}

.sidebar .btn-link {
  text-align: left;
  color: #333;
  width: 100%;
}

.sidebar .rotate-icon {
  transform: rotate(180deg);
}

.sidebar img {
  width: 30px;
  margin-right: 10px;
}

.sidebar .nav-item {
  padding: 5px 0;
}

.sidebar .nav-item .nav-link i {
  margin-right: 10px;
}

.ms-3 {
  margin-left: 1rem;
}

/* sidebar end */

/* navbar */

.custom-navbar {
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1); /* Bottom shadow */
  height: 6rem !important;
}

.custom-navbar .notification {
  cursor: pointer;
}

.custom-navbar .user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.custom-navbar .user-name {
  font-weight: 600 !important;
}

.custom-navbar .user-role {
  font-size: 0.86rem !important;
}

.custom-navbar .user-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  cursor: pointer;
}

.custom-navbar .user-infos img {
  min-height: 4.5rem !important;
  min-width: 4.5rem !important;
}

.custom-navbar .user-infos i {
  cursor: pointer;
}

.custom-navbar .notification:hover {
  font-weight: 900;
}

.have-notif {
  width: 0.5rem;
  height: 0.5rem;
  left: 60%;
  top: 10%;
}

.notification-list li {
  padding: 0.3rem;
  border-radius: 0.3rem;
  transition: all 0.4s;
  cursor: pointer;
}
.notification-list li:hover {
  background: #f4f0ec;
}

.notification-card {
  top: 40px; /* Adjust as needed to position below the bell */
  right: 0;
  width: 300px;
  z-index: 1000;
}

@media (max-width: 768px) {
  .notification-card {
    width: 300px !important; /* Takes 80% of the screen width on mobile */
    right: 0 !important;
    left: 0 !important;
    top: 50px !important;
  }
}

@media (max-width: 576px) {
  .notification-card {
    width: 300px !important; /* Takes full width of the screen on smaller devices */
    right: 0 !important;
    left: 0 !important;
    top: 50px !important;
    border-radius: 0 !important;
  }
}

/* navbar end */

/* currency */
.title-custom span:nth-child(1) {
  font-weight: 600;
}

.title-custom span:nth-child(2) {
  font-size: 0.88rem;
  font-weight: 500;
  color: #0a9cbc;
}

.switch-label-active {
  color: green;
}

.switch-label-inactive {
  color: red;
}
/* currency end */

/* expenses1 joseph */
.expenses-container {
  padding: 0;
  height: 100%;
  width: 100%;
}

.expense-title-button {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.expense-title-button p {
  width: 50%;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.button-create {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  height: 70px;
  z-index: 1;
}

.button-create .addbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  background-color: #3370fe;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.addbutton:hover {
  background-color: #5381ee;
}
/* expenses1 joseph end */

/* branch sir cy*/

.users-container {
  margin: 7rem 1rem 0 28rem;
}

.btn-manage-container button {
  border-radius: 5px;
  background: #2880bf;
  color: #fff;
  padding: 4px;
  width: 300px;
  font-size: 1.5em;
  border-color: #2880bf;
}
.btn-manage-container {
  gap: 12em;
}

.user-filter {
  gap: 20px;
}
.search-user-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gainsboro;
  padding: 20px;
  margin-top: 20px;
}
.search-user-container .input-group {
  width: 80%;
}
.search-user-container p {
  margin-right: 30px;
  margin-bottom: 0;
}
.search-user-container p:hover {
  text-decoration: underline;
}

/* Table */
.custom-user-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 15px;
  max-height: 400px;
}
.custom-user-table th {
  background-color: #e1f0ff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
.custom-user-table td {
  text-align: center;
  padding: 0.5rem;
}
.custom-user-table tbody i {
  color: black;
}
.custom-user-table tbody i:hover {
  color: blue;
  cursor: pointer;
}

/* Modal for Add user */
.input-user-container {
  margin-bottom: 10px;
}
.input-user-container p {
  margin-bottom: 5px;
}

/* Toggle */

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-top: 5px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 10px;
  width: 30px;
  height: 16px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

input:checked + .slider {
  background-color: yellowgreen;
}

input:focus + .slider {
  box-shadow: 0 0 1px yellowgreen;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.user-filter .select-transac {
  width: 200px;
}

/* Manage Users */
.manage-user button {
  /* width: 200px; */
}
.manage-user {
  gap: 30px;
}

.transac-arrow i {
  color: black;
  position: relative;
  top: 4px;
}
#cell-1-undefined {
  padding: 0;
}

td.arrow i {
  position: absolute;
  left: 40px;
  color: black;
}
/* Table User */
.custom-user-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 15px;
  /* max-height: 400px; */
}
.custom-user-table th {
  background-color: #e1f0ff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
.custom-user-table td {
  text-align: center;
  padding: 0.5rem;
}
.pop-table th {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: transparent !important;
}
.pop-table table thead {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 5px;
}
.pop-table table tbody td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid gray;
}

.points {
  border-top: 1px solid blue;
}
.total-pts {
  padding: 0;
  border-bottom: 1px solid gray;
  padding: 10px 0px;
}
.total-pts h2 {
  flex: 1;
  font-size: 1.5rem;
}

.pinsection-modal {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pin-sec {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.firstbox-pin {
  width: 25%;
  margin-right: 4px;
}

.secondbox-pin {
  width: 25%;
  margin-right: 4px;
}

.thirdbox-pin {
  width: 25%;
  margin-right: 2px;
}

.fourthbox-pin {
  width: 25%;
  margin-left: 2px;
}
.stud-man-container {
  display: flex;
  justify-content: space-between;
}
.download-container {
  display: flex;
  gap: 20px;
}
.download-container button {
  padding: 0.5em 1rem;
  font-size: 1.3rem;
  background-color: #fff;
  color: #2880bf;
  border: 1px solid #2880bf;
}
.stud-import {
  display: flex;

  align-items: center;
  gap: 5px;
}
.stud-import i {
  color: #2880bf;
}
.download-container button:hover,
.download-container button:hover i {
  background-color: #2880bf;
  color: #fff;
}

/* branch end */

/* payable start */
.payable-card {
  max-height: 15rem !important;
}

.payable-icon i {
  margin-top: -0.5rem !important;
  margin-right: 0.5rem !important;
}

.payable-amount {
  color: rgb(40, 209, 40);
}

.payable-amounts {
  color: rgb(49, 49, 210);
}

.payable-amount::before,
.payable-amounts::before {
  content: "₱ ";
}

.payable-card-desc span {
  font-size: 10px;
}

.total-amount-container {
  background: #0a9cbc !important;
  height: 4rem !important;
}

.total-amount-container-expenses {
  background: #0a9cbc !important;
  height: 5rem !important;
}

.total-amount-container span:nth-child(2) {
  text-decoration: underline;
}

.total-amount-container span:nth-child(2)::before {
  content: "₱ ";
}

/* payable end */

/* local purchase start */
.dropdown-button button {
  background: none !important;
}

.bg-notpaid h5 {
  background: #ffdfdf;
}

.bg-notpaid .expensesStatus {
  background: #ffdfdf;
}

.bg-notpaids {
  background: #ffdfdf;
}

.bg-notpaids:hover {
  color: #fff !important;
}

/* local purchase end */

/* Vendor start */
.vendor-container {
  height: 48rem !important;
  overflow-y: scroll !important;
}

.vendor-container-table {
  height: 40rem !important;
  overflow-y: scroll !important;
}
/* Vendor end */

/* sales create invoice */

.custom-discount-btn {
  cursor: pointer;
  transition: 0.4s all !important;
}

.custom-discount-btn:hover {
  background: #5d5a5a !important;
  color: #fff !important;
}

/* sales create invoice end */

/* Counting Create */
.custom-checkbox .form-check-input {
  width: 1.012rem;
  height: 1.012rem;
  margin-top: 0.25rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.custom-checkbox .form-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.custom-checkbox .form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
/* Counting Create end */

/* Create Loan */
.forecast-btn {
  letter-spacing: 0.1rem !important;
  font-weight: 600 !important;
}
/* create loan end */

/* Reports */
.reports-custom-table {
  border-radius: 10px !important; /* Adjust radius as needed */
  overflow: hidden !important; /* Ensures that the border-radius applies to all content, including the header */
}
/* reports end */

/* OTP */
.otp-input {
  width: 20%;
  height: 100px;
  margin-right: 10px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
  border: 1px solid #ced4da;
}

.otp-input:last-child {
  margin-right: 0;
}

/* media query */
@media (max-width: 1600px) {
  .sidebar.closed {
    width: 0 !important; /* Closed state width */
  }

  .sidebar {
    width: 0px !important;
    overflow-x: hidden !important;
  }

  .sidebar.open {
    min-width: 300px !important;
    z-index: 1000 !important;
    /* position: fixed !important; */
  }

  .sidebar-toggle {
    display: block !important;
    position: absolute !important; /* Ensure it stays fixed on the left */
    top: 1.7rem !important;
    left: 0 !important; /* Position on the left side */
    background-color: #ffffff !important;
    border: 1px solid #ccc !important;
    padding: 5px !important;
    cursor: pointer !important;
    width: 2rem !important;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 100%;
  }
}

.amount {
  font-size: 2rem;
  font-weight: bold;
}

/* media query end */
